 .c-Singleline,
 .cm,
 .c{
/*color: orange;*//*Comments*/
color: rgb(206, 82, 45);
}

.s {
/*color: green;*//*Strings*/
color: rgb(20, 68, 20);
}

.ni {
/*color: green;*//*Datatypes*/
color: rgb(20, 68, 20);
}

.k {
/*color: blue;*//*Flow Controls*/
color: rgb(38, 38, 212);
}

.ow {
/*color: blue;*//*Conditions*/
color: rgb(38, 38, 212);
}

.cs, .nc {
/*color: blue;*//*Constants*/
color: rgb(38, 38, 212);
}

.nl {
/*color: blue;*//*Constants*/
color: rgb(43, 90, 137);
}

.no {
/*color: blue;*//*Constants*/
color: rgb(43, 90, 137);
}

.nt {
/*color: blue;*//*Constants*/
color: rgb(128, 0, 128);
}

.o{
/*color: black;*//*Operators*/
color: rgb(34, 42, 34);
}

.mi{
/*color: black;*//*Numbers*/
color: rgb(34, 42, 34);
}
.p{
/*color: black;*//*Punctuation*/
color: rgb(34, 42, 34);
}

.nb{
/*color: red/rose/purple;*//*Functions names*/
color: rgb(139, 23, 58);
}

.go {
/*color: cyan;*//*Events*/
color: rgb(43, 90, 137);
}

.kd {
/*color: purple;*//*States*/
color: rgb(131, 33, 82);
}

.n {
/*color: black;*//*States*/
color: rgb(34, 42, 34);
}

.err {
color: red;
font-weight: bold;
}